@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400;500;600;700&display=swap');

.data-form-page {
  position: relative;
  font-family: 'Unbounded', sans-serif;
  font-weight: 560;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px;
  background-color: #fdfdfd;
  min-height: 100vh;
  overflow: hidden;
  z-index: 1;
}

.form-title {
  font-size: 36px;
  font-family: 'Unbounded', sans-serif;
  margin-bottom: 40px;
  color: #000;
  z-index: 2;
}


.form-container {
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 500px;
  z-index: 2;
}

input, select {
  margin-top: -10px;
  padding: 10px 16px;
  border-radius: 12px;
  border: 1px solid #ccc;
  font-size: 16px;
  font-weight:400;
  font-family: 'Outfit', sans-serif;
  color: rgb(53, 53, 53);
  outline: none;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.height-group {
  display: flex;
  gap: 10px;
}

.submit-btn, .mainpage-btn, .results-btn {
  margin-top: 10px;
  background-color: #007acc;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 12px 28px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Unbounded', sans-serif;
  z-index: 2;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
}

.submit-btn:hover,
.mainpage-btn:hover,
.results-btn:hover {
  background-color: #004777;
}

/* Blurred background circles */
.blur {
  position: absolute;
  border-radius: 50%;
  filter: blur(100px);
  opacity: 0.4;
  z-index: 0;
}

.blur1 {
  top: -100px;
  left: -100px;
  width: 300px;
  height: 300px;
  background: #29b6f6;
}

.blur2 {
  bottom: -100px;
  left: 100px;
  width: 300px;
  height: 300px;
  background: #29b6f6;
}

.blur3 {
  top: 50%;
  right: -150px;
  width: 400px;
  height: 400px;
  background: #29b6f6;
  transform: translateY(-50%);
}

.yes-no-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  padding-top: 7px;
}

.yn-button {
  padding: 6px 18px;
  border: 2px solid #ccc;
  border-radius: 999px;
  background-color: white;
  color: #007acc;
  font-weight: 600;
  font-size: 14px;
  font-family: 'Unbounded', sans-serif;
  cursor: pointer;
  transition: all 0.25s ease;
}

.yn-button:hover {
  border-color: #007acc;
  color: #005f9e;
}

.yn-button.active {
  background-color: #007acc;
  color: white;
  border-color: #007acc;
}

.question-block {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 20px;
}